.head-main {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  position: sticky;
  top: 0;

  &-logobox {
    font-size: 36px;
    font-weight: 600;

    a {
      display: flex;
      align-items: center;

      img {
        width: 50px;
        height: 50px;
      }
    }
  }

  &-link {
    display: none;

    img {
      display: inline;
      width: 20px;
      height: 20px;
    }

    li.link-menu,
    li.link-other {
      padding: 0 14px;
      color: #60646d;
      font-weight: 500;
    }
    li.link-menu:hover {
      color: #232835;
    }

    a {
      display: inline-block;
    }
    a#active {
      border-bottom: 3px dashed #db8d83;
    }
    a.menu:after {
      display: block;
      content: "";
      border-bottom: 3px dashed #db8d83;
      transform: scaleX(0);
      transition: transform 350ms ease-in-out;
    }
    a:hover:after {
      transform: scaleX(1);
    }
    a.menu:after {
      transform-origin: 0% 50%;
    }
  }

  @media only screen and (min-width: 768px) {
    &-link {
      // display: flex;

      // img {
      //   display: inline;
      //   width: 20px;
      //   height: 20px;
      // }

      // li.link-menu,
      // li.link-other {
      //   padding: 0 14px;
      //   color: #60646d;
      //   font-weight: 500;
      // }
      // li.link-menu:hover {
      //   color: #232835;
      // }

      // a {
      //   display: inline-block;
      // }
      // a#active {
      //   border-bottom: 3px dashed #db8d83;
      // }
      // a.menu:after {
      //   display: block;
      //   content: "";
      //   border-bottom: 3px dashed #db8d83;
      //   transform: scaleX(0);
      //   transition: transform 350ms ease-in-out;
      // }
      // a:hover:after {
      //   transform: scaleX(1);
      // }
      // a.menu:after {
      //   transform-origin: 0% 50%;
      // }
    }
  }
  @media only screen and (min-width: 1024px) {
    padding: 1.425rem 8rem;
    z-index: 5;

    &-link {
      display: flex;
    }
  }
}
