.head-main {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;

  &-logobox {
    font-size: 36px;
    font-weight: 600;

    a {
      display: flex;
      align-items: center;

      img {
        width: 50px;
        height: 50px;
      }
    }
  }

  &-container {
    display: flex;
    position: relative;
    height: inherit;
    align-items: center;

    .link-menus,
    .link-others {
      display: none;
      height: 100%;

      img {
        display: inline;
        width: 20px;
        height: 20px;
      }

      li.link-menu,
      li.link-other {
        color: #60646d;
        font-weight: 500;
        height: 100%;
        display: inline-flex;
        align-items: center;
      }
      li.link-menu:hover {
        color: #232835;
      }

      a {
        display: inline-block;
      }
      a#active:after {
        content: "";
        display: block;
        width: 90%;
        border-bottom: 3px dashed #db8d83;
      }

      .underline-from-left:after {
        content: "";
        display: block;
        width: 60%;
        border-bottom: 3px dashed #db8d83;
        transform-origin: top left;
        transform: scaleX(0);
        transition: transform 350ms ease-in-out;
      }

      .link-menu:hover a:after {
        transform: scaleX(1);
      }
    }

    li.listmenus {
      display: block;
      padding: 10px 24px;
      font-size: 16px;
      border-bottom: 1px solid rgb(0, 0, 0, 0.1);
    }
    li.listmenus:hover {
      background: #f25630;
      color: white;
    }

    .submenu {
      position: absolute;
      background: white;
      top: 100px;
      width: 220px;
      border-radius: 10px;
      overflow: hidden;
      visibility: hidden;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
        rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    }

    .home-listmenus {
      left: 14px;
      visibility: hidden;
    }
    .about-listmenus {
      left: 90px;
      visibility: hidden;
    }
    .service-listmenus {
      left: 196px;
      visibility: hidden;
    }
    .blog-listmenus {
      left: 295px;
      visibility: hidden;
    }
    .shop-listmenus {
      left: 360px;
      visibility: hidden;
    }
  }

  button.hamburger {
    height: 100%;
    border: 0;
    border-radius: 0;
    color: #1b212f;
    font-size: 24px;
    background-color: transparent;
    padding: 0;
  }

  @media only screen and (min-width: 667px) {
    &-container {
      gap: 32px;

      .link-others {
        display: flex;
        gap: 32px;
      }
    }
  }

  @media only screen and (min-width: 1200px) {
    padding: 1.425rem 8rem;
    z-index: 5;

    &-logobox {
      padding: 0;
    }

    &-container {
      gap: 32px;

      .link-menus {
        display: flex;
        gap: 40px;
      }

      .link-others {
        gap: 32px;
      }

      .hamburger {
        display: none;
      }
    }
  }
}
