@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-size: 18px;
}

h1 {
    font-size: 44px;
    font-weight: 600;
    line-height: initial;
    letter-spacing: 2px;
    color: black;
}

h3 {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 3px;
    color: #f25630;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    padding: 0 12px;
    color: #1b212f;
}

hr {
    border-top: 4px solid white;
    width: 22%;
    margin-bottom: 14px;
}

header {
    .head-contact {
        display: flex;
        justify-content: space-between;
        padding: 0.75rem 6rem;
        background: #db8d83;
        color: white;

        &-elements {
            img {
                display: inline;
                max-width: 16px;
            }
        }
    }

    .head-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: cadetblue;
        padding: 1.25rem 6rem;

        &-name {
            font-size: 24px;
            font-weight: 600;
        }

        &-elements {
            img {
                display: inline;
                max-width: 16px;
            }
        }
    }
}

.slideitem {
    &-home {
        background: black;
        padding: 10rem;

        &-context {
            width: 70%;
            display: flex;
            flex-wrap: wrap;
            gap: 2rem;
            color: white;
            margin-bottom: 2rem;

            &-heading {
                font-size: 40px;
                font-weight: 400;
            }
        }
    }

    &-aboutus {
        display: flex;
        flex-wrap: wrap;
        background: white;
        padding: 5rem;

        &-img {
            display: flex;
            position: relative;
            width: 45%;

            img {
                width: 100%;
                height: 100%;
                border-radius: 10px;
            }

            &-opentime {
                position: absolute;
                right: -8%;
                bottom: -6%;
                width: 60%;
                padding: 3rem 2rem;
                color: white;
                background: #db8d83;;
                border-radius: 10px;

                div {
                    padding: 4px 0;
                    font-weight: 300;
                }

                div:first-child {
                    font-size: 20px;
                    font-weight: 500;
                    letter-spacing: 2px;
                    padding: 4px 0;
                }
            }
        }

        &-context {
            width: 40%;
            flex-grow: 1;
            margin: 8rem 3rem 8rem 7rem;

            &-title {
                font-size: 20px;
                font-weight: 500;
                letter-spacing: 4px;
                color: #f25630;
            }
            &-heading {
                font-size: 46px;
                font-weight: 600;
                line-height: initial;
                letter-spacing: 1.5px;
                padding: 1.5rem 0;
            }
            &-subheading {
                color: #1b212f;
                margin-bottom: 4rem;
            }
        }
    }

    &-service {
        padding: 5rem;
        background: white;

        &-context {
            margin-bottom: 2rem;
            text-align: center;

            &-title {
                font-weight: 500;
                letter-spacing: 2px;
                color: #f25630;
            }
            &-heading {
                font-size: 44px;
                font-weight: 600;
            }
        }

        &-element {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: 1fr 1fr;
            gap: 2rem;
            background: white;

            &-box {
                padding: 1.6rem 2rem;
                text-align: center;
                font-size: 24px;
                font-weight: 500;
                border: 1px solid #d4d4d4;
                border-radius: 12px;
                background: white;

                .icon-treatment {
                    width: 100px;
                    height: 100px;
                    margin: 0 auto 1.5rem;
                    padding: 1.5rem;
                    border-radius: 50%;
                    background: #C7E1C9;
                }

                .icon-lady-haircut {
                    width: 100px;
                    height: 100px;
                    margin: 0 auto 1.5rem;
                    padding: 1.5rem;
                    border-radius: 50%;
                    background: #FAD6CD;
                }

                .icon-men-haircut {
                    width: 100px;
                    height: 100px;
                    margin: 0 auto 1.5rem;
                    padding: 1.5rem;
                    border-radius: 50%;
                    background: #F1CDDA;
                }

                .icon-kid-haircut {
                    width: 100px;
                    height: 100px;
                    margin: 0 auto 1.5rem;
                    padding: 1.5rem;
                    border-radius: 50%;
                    background: #D8D0ED;
                }

                .icon-beard-trim {
                    width: 100px;
                    height: 100px;
                    margin: 0 auto 1.5rem;
                    padding: 1.5rem;
                    border-radius: 50%;
                    background: #F6CFD1;
                }

                .icon-hair-color {
                    width: 100px;
                    height: 100px;
                    margin: 0 auto 1.5rem;
                    padding: 1.5rem;
                    border-radius: 50%;
                    background: #FBECC6;
                }

                .icon-curly-hair {
                    width: 100px;
                    height: 100px;
                    margin: 0 auto 1.5rem;
                    padding: 1.5rem;
                    border-radius: 50%;
                    background: #BFC1F3;
                }

                .icon-hair-state {
                    width: 100px;
                    height: 100px;
                    margin: 0 auto 1.5rem;
                    padding: 1.5rem;
                    border-radius: 50%;
                    background: #CEEDE6;
                }
            }

        }
    }

    &-pricing {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 6rem;
        background: #fbf3f2;
        
        &-text {
            text-align: center;
            
            h1 {
                padding: 1rem 0;
            }
        }
        
        &-block {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            gap: 2rem;
            margin: 2rem 0 3rem 0;
            
            .block {
                flex-basis: 30%;
                border-radius: 12px;
                overflow: hidden;
                background: white;

                .block-img-haircut {
                    background-image: url("../../assets/haircut.jpeg");
                    background-size: cover;
                    min-width: 100%;
                    height: 265px;
                    border-radius: 12px 12px 0 0;
                }
    
                .block-img-coloring {
                    background-image: url("../../assets/coloring.jpeg");
                    background-size: cover;
                    min-width: 100%;
                    height: 265px;
                    border-radius: 12px 12px 0 0;
                }
    
                .block-img-hairstyle {
                    background-image: url("../../assets/hairstyle.jpeg");
                    background-size: cover;
                    min-width: 100%;
                    height: 265px;
                    border-radius: 12px 12px 0 0;
                }
                
                .block-content {
                    padding: 2.5rem 2rem;
                    
                    .block-text-title {
                        font-size: 24px;
                        font-weight: 500;
                        letter-spacing: 2px;
                    }
                    .block-text-body {
                        padding: 0.8rem 0 2rem 0;
                        color: #212529;
                        opacity: 0.8; 
                    }
                }
            }
        }
    }

    &-video {
        position: relative;

        &-bg {
            background: black;
            img {
                min-width: 100%;
                opacity: 0.6;
            }
        }

        &-container {
            position: absolute;
            top: 37%;
            left: 23%;
            text-align: center;
            letter-spacing: 2px;
            &-text {
                font-size: 48px;
                font-weight: 600;
                line-height: initial;
                color: white;
            }
            &-icon {
                width: 100px;
                height: 100px;
                margin: 2rem auto;
                background: white;
                border-radius: 50%;
            }
        }
    }

    &-salon {
        &-photocontainer {
            .block1 {
                display: flex;
                justify-content: center;
                align-items: flex-end;
                gap: 2rem;

                .photo1 {
                    width: 100px;
                    height: 100px;
                    border-radius: 6px;
                    background: pink;
                }
                .photo2 {
                    width: 100px;
                    height: 150px;
                    border-radius: 6px;
                    background: #8361c8; 
                }
            }
            .block2 {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 2rem;

                .photo1 {
                    display: flex;
                    flex-direction: column;
                    gap: 2rem;
                    &-first {
                        width: 150px;
                        height: 200px;
                        border-radius: 6px;
                        background: pink;
                    }
                    &-second {
                        width: 100px;
                        height: 100px;
                        border-radius: 6px;
                        background: pink;
                    }
                }
                .photo2 {
                    width: 300px;
                    height: 332px;
                    border-radius: 6px;
                    background: pink;
                }
                .photo3 {
                    gap: 2rem;
                    &-first {
                        width: 100px;
                        height: 100px;
                        border-radius: 6px;
                        background: pink;
                    }
                    &-second {
                        width: 150px;
                        height: 200px;
                        border-radius: 6px;
                        background: pink;
                    } 
                }
            }
        }
    }

    &-button {
        width: fit-content;
        background: #f25630;
        color: white;
        padding: 12px 28px;
        border-radius: 24px;
        font-weight: 600;
        font-size: 14px;
    }
}