@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-size: 18px;
}

h1 {
    font-size: 44px;
    font-weight: 600;
    line-height: initial;
    letter-spacing: 2px;
    color: black;
}

h3 {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 3px;
    color: #f25630;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    padding: 0 12px;
    color: #1b212f;
}

hr {
    border-top: 4px solid white;
    width: 22%;
    margin-bottom: 14px;
}

header {
    .head-contact {
        display: flex;
        justify-content: space-between;
        padding: 0.75rem 6rem;
        background: #db8d83;
        color: white;

        &-elements {
            img {
                display: inline;
                max-width: 16px;
            }
        }
    }

    .head-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: cadetblue;
        padding: 1.25rem 6rem;

        &-name {
            font-size: 24px;
            font-weight: 600;
        }

        &-elements {
            img {
                display: inline;
                max-width: 16px;
            }
        }
    }
}

.slideitem {
    &-home {
        background: black;
        padding: 10rem;

        &-context {
            width: 70%;
            display: flex;
            flex-wrap: wrap;
            gap: 2rem;
            color: white;
            margin-bottom: 2rem;

            &-heading {
                font-size: 40px;
                font-weight: 400;
            }
        }
    }

    &-aboutus {
        display: flex;
        flex-wrap: wrap;
        background: white;
        padding: 5rem;

        &-img {
            display: flex;
            position: relative;
            width: 45%;

            img {
                width: 100%;
                height: 100%;
                border-radius: 10px;
            }

            &-opentime {
                position: absolute;
                right: -8%;
                bottom: -6%;
                width: 60%;
                padding: 3rem 2rem;
                color: white;
                background: #db8d83;;
                border-radius: 10px;

                div {
                    padding: 4px 0;
                    font-weight: 300;
                }

                div:first-child {
                    font-size: 20px;
                    font-weight: 500;
                    letter-spacing: 2px;
                    padding: 4px 0;
                }
            }
        }

        &-context {
            width: 40%;
            flex-grow: 1;
            margin: 8rem 3rem 8rem 7rem;

            &-title {
                font-size: 20px;
                font-weight: 500;
                letter-spacing: 4px;
                color: #f25630;
            }
            &-heading {
                font-size: 46px;
                font-weight: 600;
                line-height: initial;
                letter-spacing: 3px;
                padding: 1.5rem 0;
            }
            &-subheading {
                color: #1b212f;
                margin-bottom: 4rem;
            }
        }
    }

    &-service {
        padding: 5rem;
        background: white;

        &-context {
            margin-bottom: 2rem;
            text-align: center;

            &-title {
                font-weight: 500;
                letter-spacing: 2px;
                color: #f25630;
            }
            &-heading {
                font-size: 44px;
                font-weight: 600;
            }
        }

        &-element {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: 1fr 1fr;
            gap: 2rem;
            background: white;

            &-box {
                padding: 1.6rem 2rem;
                text-align: center;
                font-size: 24px;
                font-weight: 500;
                border: 1px solid #d4d4d4;
                border-radius: 12px;
                background: white;

                .icon-treatment {
                    padding: 1.2rem 0;
                    margin-bottom: 1.5rem;
                    position: relative;
                    
                    .inner-icon-treatment {
                        width: 60px;
                        height: 60px;
                        margin: 0 auto;
                    }
                }
                .icon-treatment:before {
                    content: "";
                    position: absolute;
                    width: 48%;
                    height: 100%;
                    top: 0;
                    left: 25%;
                    opacity: 0.3;
                    border-radius: 50%;
                    background: #01A13C;
                }

                .icon-lady-haircut {
                    padding: 1.2rem 0;
                    margin-bottom: 1.5rem;
                    position: relative;

                    .inner-icon-lady-haircut {
                        width: 60px;
                        height: 60px;
                        margin: 0 auto;
                    }
                }
                .icon-lady-haircut:before {
                    content: "";
                    position: absolute;
                    width: 48%;
                    height: 100%;
                    top: 0;
                    left: 25%;
                    opacity: 0.3;
                    border-radius: 50%;
                    background: #ff6b4f;
                }

                .icon-men-haircut {
                    padding: 1.2rem 0;
                    margin-bottom: 1.5rem;
                    position: relative;
                    
                    .inner-icon-men-haircut {
                        width: 60px;
                        height: 60px;
                        margin: 0 auto;
                    }
                }
                .icon-men-haircut:before {
                    content: "";
                    position: absolute;
                    width: 48%;
                    height: 100%;
                    top: 0;
                    left: 25%;
                    opacity: 0.3;
                    border-radius: 50%;
                    background: #df4c84;
                }

                .icon-kid-haircut {
                    padding: 1.2rem 0;
                    margin-bottom: 1.5rem;
                    position: relative;
                    
                    .inner-icon-kid-haircut {
                        width: 60px;
                        height: 60px;
                        margin: 0 auto;
                    }
                }
                .icon-kid-haircut:before {
                    content: "";
                    position: absolute;
                    width: 48%;
                    height: 100%;
                    top: 0;
                    left: 25%;
                    opacity: 0.3;
                    border-radius: 50%;
                    background: #8361c8;
                }

                .icon-beard-trim {
                    padding: 1.2rem 0;
                    margin-bottom: 1.5rem;
                    position: relative;
                    
                    .inner-icon-beard-trim {
                        width: 60px;
                        height: 60px;
                        margin: 0 auto;
                    }
                }
                .icon-beard-trim:before {
                    content: "";
                    position: absolute;
                    width: 48%;
                    height: 100%;
                    top: 0;
                    left: 25%;
                    opacity: 0.3;
                    border-radius: 50%;
                    background: #f0545f ;
                }

                .icon-hair-color {
                    padding: 1.2rem 0;
                    margin-bottom: 1.5rem;
                    position: relative;
                    
                    .inner-icon-hair-color {
                        width: 60px;
                        height: 60px;
                        margin: 0 auto;
                    }
                }
                .icon-hair-color:before {
                    content: "";
                    position: absolute;
                    width: 48%;
                    height: 100%;
                    top: 0;
                    left: 25%;
                    opacity: 0.3;
                    border-radius: 50%;
                    background: #f7bd01;
                }

                .icon-curly-hair {
                    padding: 1.2rem 0;
                    margin-bottom: 1.5rem;
                    position: relative;
                    
                    .inner-icon-curly-hair {
                        width: 60px;
                        height: 60px;
                        margin: 0 auto;
                    }
                }
                .icon-curly-hair:before {
                    content: "";
                    position: absolute;
                    width: 48%;
                    height: 100%;
                    top: 0;
                    left: 25%;
                    opacity: 0.3;
                    border-radius: 50%;
                    background: #2930e1;
                }

                .icon-hair-state {
                    padding: 1.2rem 0;
                    margin-bottom: 1.5rem;
                    position: relative;
                    
                    .inner-icon-hair-state {
                        width: 60px;
                        height: 60px;
                        margin: 0 auto;
                    }
                }
                .icon-hair-state:before {
                    content: "";
                    position: absolute;
                    width: 48%;
                    height: 100%;
                    top: 0;
                    left: 25%;
                    opacity: 0.3;
                    border-radius: 50%;
                    background: #22c7a9;
                }
            }

        }
    }

    &-pricing {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 6rem;
        background: #fbf3f2;

        &-text {
            text-align: center;

            h1 {
                padding: 1rem 0;
            }
        }

        &-block {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            gap: 2rem;
            margin: 2rem 0 3rem 0;

            .block {
                flex-basis: 30%;
                border-radius: 12px;
                background: white;

                img {
                    min-width: 100%;
                    height: 265px;
                    border-radius: 12px 12px 0 0;
                }

                .block-content {
                    padding: 2.5rem 2rem;

                    .block-text-title {
                        font-size: 24px;
                        font-weight: 500;
                        letter-spacing: 2px;
                    }
                    .block-text-body {
                        padding: 0.8rem 0 2rem 0;
                        color: #212529;
                        opacity: 0.8; 
                    }
                }
            }
        }
    }

    &-video {
        position: relative;

        &-bg {
            background: black;
            img {
                min-width: 100%;
                opacity: 0.6;
            }
        }

        &-container {
            position: absolute;
            top: 37%;
            left: 23.5%;
            text-align: center;
            letter-spacing: 2px;
            &-text {
                font-size: 46px;
                font-weight: 600;
                color: white;
            }
            &-icon {
                width: 100px;
                height: 100px;
                margin: 2rem auto;
                background: white;
                border-radius: 50%;
            }
        }
    }

    &-button {
        width: fit-content;
        background: #f25630;
        color: white;
        padding: 12px 28px;
        border-radius: 24px;
        font-weight: 600;
        font-size: 14px;
    }
}