@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-size: 18px;
}

h1 {
    font-size: 48px;
    font-weight: 600;
    line-height: initial;
    letter-spacing: 2px;
    color: #010101;
}

h3 {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
    margin-bottom: 15px;
    color: #f25630;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

hr {
    border-top: 4px solid white;
    width: 22%;
    margin-bottom: 2rem;
}

button {
    background: #f25630;
    color: white;
    padding: 12px 36px;
    border-radius: 25px;
    border: 2px solid #f25630;
    font-weight: 600;
    font-size: 14px;
    transition: 0.5s;
}

.head-top {
    display: flex;
    justify-content: space-between;
    padding: 1rem 8rem;
    background: #db8d83;

    &-promotion {
        font-size: 16px;
        color: white;
    }

    &-socials {
        img {
            display: inline;
            width: 20px;
            height: 20px;
        }
        img:hover {
            opacity: 0.7;
        }

        .social-link {
            display: inline;
            padding: 0 12px;
        }
    }
}

.head-main {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.425rem 8rem;
    background: white;
    position: sticky;
    top: 0;
    z-index: 5;

    &-logobox {
        font-size: 36px;
        font-weight: 600;

        a {
            display: flex;
            align-items: center;

            img {
                width: 50px;
                height: 50px;
            }
        }
    }

    &-link {
        display: flex;
        
        img {
            display: inline;
            width: 20px;
            height: 20px;
        }

        li.link-menu, li.link-other {
            padding: 0 14px;
            color: #60646D;
            font-weight: 500;
        }
        li.link-menu:hover { color: #232835; }

        a { display: inline-block; }
        a#active { border-bottom: 3px dashed #db8d83; }
        a.menu:after {
            display: block;
            content: "";
            border-bottom: 3px dashed #db8d83;
            transform: scaleX(0);
            transition: transform 350ms ease-in-out;
        }
        a:hover:after { transform: scaleX(1); }
        a.menu:after { transform-origin: 0% 50%; }
    }
}


.slideitem-home {
    background: black;
    padding: 19rem 8rem;

    &-context {
        width: 70%;
        display: block;
        color: white;
        margin-bottom: 2.5rem;

        &-heading {
            font-size: 72px;
            font-weight: 600;
            line-height: initial;
            letter-spacing: 4px;
        }
        &-subheading {
            font-size: 20px;
            font-weight: 300;
            padding-top: 1.6rem;
        }
    }

    .home-btn:hover {
        color: #f25630;
        border: 2px solid #f25630;
        background: transparent;
    }
}

.slideitem-aboutus {
    display: flex;
    flex-wrap: wrap;
    background: white;
    margin: 7.5rem 4.3rem 3rem 4.3rem;
    position: relative;
    z-index: 0;

    &-img {
        display: flex;
        position: relative;
        width: 45%;

        img {
            width: 100%;
            height: 100%;
            border-radius: 10px;
            object-fit: cover;
        }

        &-opentime {
            position: absolute;
            right: -8%;
            bottom: -5%;
            width: 60%;
            padding: 55px 40px 45px 35px;
            color: white;
            background: #db8d83;;
            border-radius: 10px;

            div {
                margin-bottom: 10px;
                font-weight: 300;
            }

            div:first-child {
                font-size: 24px;
                font-weight: 500;
                letter-spacing: 2px;
            }
        }
    }

    &-context {
        width: 40%;
        flex-grow: 1;
        margin: 8rem 3rem 8rem 7rem;

        &-title {
            font-size: 20px;
            font-weight: 500;
            letter-spacing: 4px;
            color: #f25630;
        }
        &-heading {
            font-size: 48px;
            font-weight: 600;
            line-height: initial;
            letter-spacing: 1.5px;
            padding: 15px 0 25px;
        }
        &-subheading {
            color: #1b212f;
            margin-bottom: 3rem;
        }
    }

    .img-pattern {
        position: absolute;
        bottom: 5%;
        right: -5%;
        animation: rotation 15s infinite linear;
    }
    @keyframes rotation {
        from { transform: rotate(0deg); }
        to { transform: rotate(359deg); }
    }

    img#bg-about1 {
        position: absolute;
        width: 158px;
        height: 158px;
        right: 228px;
        bottom: 30px;
        z-index: -1;
        animation: zoominzoomout 3s infinite;
    }
    @keyframes zoominzoomout {
        0% { transform: scale(1, 1); }
        50% { transform: scale(1.2, 1.2); }
        100% { transform: scale(1, 1); }
    }

    img#bg-about2 {
        position: absolute;
        max-width: 272px;
        max-height: 272px;
        top: 16px;
        right: 28px;
        z-index: -1;
        animation: goandback 4s infinite;
    }
    @keyframes goandback {
        0% { right: 28px; }
        50% { right: 58px; }
        100% { right: 28px; }
    }

    .about-btn:hover {
        color: #f25630;
        border: 2px solid #f25630;
        background: white;
    }
}

.slideitem-service {
    padding: 7rem 4rem;
    background: white;

    &-context {
        margin-bottom: 2rem;
        text-align: center;

        &-heading {
            font-size: 44px;
            font-weight: 600;
        }
    }

    &-element {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr 1fr;
        gap: 2rem;
        background: white;

        &-box {
            padding: 1.6rem 2rem;
            text-align: center;
            font-size: 24px;
            font-weight: 500;
            border: 1px solid #EEEEEE;
            border-radius: 12px;
            background: white;
            // animation-name: fadeInUp;

            .icon-treatment {
                width: 100px;
                height: 100px;
                margin: 0 auto 1.5rem;
                padding: 1.5rem;
                border-radius: 50%;
                background: #C7E1C9;
                transition: 2s;
            }
            .icon-treatment:hover {
                background: #01A13C;
                transform: rotate(180deg);
            }

            .icon-lady-haircut {
                width: 100px;
                height: 100px;
                margin: 0 auto 1.5rem;
                padding: 1.5rem;
                border-radius: 50%;
                background: #FAD6CD;
            }

            .icon-men-haircut {
                width: 100px;
                height: 100px;
                margin: 0 auto 1.5rem;
                padding: 1.5rem;
                border-radius: 50%;
                background: #F1CDDA;
            }

            .icon-kid-haircut {
                width: 100px;
                height: 100px;
                margin: 0 auto 1.5rem;
                padding: 1.5rem;
                border-radius: 50%;
                background: #D8D0ED;
            }

            .icon-beard-trim {
                width: 100px;
                height: 100px;
                margin: 0 auto 1.5rem;
                padding: 1.5rem;
                border-radius: 50%;
                background: #F6CFD1;
            }

            .icon-hair-color {
                width: 100px;
                height: 100px;
                margin: 0 auto 1.5rem;
                padding: 1.5rem;
                border-radius: 50%;
                background: #FBECC6;
            }

            .icon-curly-hair {
                width: 100px;
                height: 100px;
                margin: 0 auto 1.5rem;
                padding: 1.5rem;
                border-radius: 50%;
                background: #BFC1F3;
            }

            .icon-hair-state {
                width: 100px;
                height: 100px;
                margin: 0 auto 1.5rem;
                padding: 1.5rem;
                border-radius: 50%;
                background: #CEEDE6;
            }
            padding: 1.6rem 2rem;
            text-align: center;
            font-size: 24px;
            font-weight: 500;
            border: 1px solid #EEEEEE;
            border-radius: 12px;
            background: white;
            animation-name: fadeInUp;
        }

        &-box:hover {
            border: none;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        }

    }
}

.slideitem-pricing {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 6rem 7.8rem;
    background: #fbf3f2;
    position: relative;
    z-index: 0;

    &-text {
        text-align: center;

        h1 {
            padding: 1rem 0;
        }
    }

    &-block {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        // gap: 2rem;
        margin: 2rem 0 3rem 0;

        .block {
            position: relative;
            flex-basis: 31%;
            border-radius: 12px;
            overflow: hidden;
            background: white;

            .block-img-haircut {
                height: 265px;
                border-radius: 12px 12px 0 0;
                overflow: hidden;
                position: relative;

                img#haircut {
                    transform: scale(1.15);
                    transition: all 0.3s ease-in-out;

                }
                img#haircut:hover {
                    transform: scale(1);
                }
            }
            .block-img-haircut:before {
                content: "";
                width: 10%;
                height: 100%;
                z-index: 2;
                position: absolute;
                top: 0;
                left: -30%;
                background: white;
                opacity: 0.3;
                filter: blur(5px);
                transform: skewX(-25deg);
                transition: all 0.5s ease;
            }
            .block-img-haircut:hover::before {
                animation: shine 1s;
            }
            @keyframes shine {
                0% { left: -30% }
                100% { left: 125% }
            }

            .block-img-coloring {
                height: 265px;
                border-radius: 12px 12px 0 0;
                overflow: hidden;
                position: relative;

                img#coloring {
                    transform: scale(1.15);
                    transition: all 0.3s ease-in-out;

                }
                img#coloring:hover {
                    transform: scale(1);
                }
            }
            .block-img-coloring:before {
                content: "";
                width: 10%;
                height: 100%;
                z-index: 2;
                position: absolute;
                top: 0;
                left: -30%;
                background: white;
                opacity: 0.3;
                filter: blur(5px);
                transform: skewX(-25deg);
                transition: all 0.5s ease;
            }
            .block-img-coloring:hover::before {
                animation: shine 1s;
            }
            @keyframes shine {
                0% { left: -30% }
                100% { left: 125% }
            }

            .block-img-hairstyle {
                height: 265px;
                border-radius: 12px 12px 0 0;
                overflow: hidden;
                position: relative;

                img#hairstyle {
                    transform: scale(1.15);
                    transition: all 0.3s ease-in-out;

                }
                img#hairstyle:hover {
                    transform: scale(1);
                }
            }
            .block-img-hairstyle:before {
                content: "";
                width: 10%;
                height: 100%;
                z-index: 2;
                position: absolute;
                top: 0;
                left: -30%;
                background: white;
                opacity: 0.3;
                filter: blur(5px);
                transform: skewX(-25deg);
                transition: all 0.5s ease;
            }
            .block-img-hairstyle:hover::before {
                animation: shine 1s;
            }
            @keyframes shine {
                0% { left: -30% }
                100% { left: 125% }
            }

            .block-content {
                padding: 2.5rem 2rem;

                .block-text-title {
                    font-size: 24px;
                    font-weight: 500;
                    letter-spacing: 2px;
                }
                .block-text-body {
                    padding: 0.8rem 0 2rem 0;
                    color: #212529;
                    opacity: 0.8;
                }
            }

            .circle-price {
                width: 100px;
                height: 100px;
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                top: 39%;
                right: 8%;
                border-radius: 50%;
                background: #E16137;
                font-size: 20px;
                font-weight: 700;
                color: white;

            }
            .circle-border {
                width: 90px;
                height: 90px;
                position: absolute;
                top: 40%;
                right: 9.2%;
                border-radius: 50%;
                border: 1px dashed white;
                animation: rotation 10s infinite linear; 
            }
            @keyframes rotation {
                from { transform: rotate(0deg); }
                to { transform: rotate(359deg); }
            }
        }
    }

    img#bg-pricing1 {
        position: absolute;
        top: 44px;
        left: 32px;
        z-index: -1;
        animation: zoominzoomout-bg1 5s infinite;
    }
    @keyframes zoominzoomout-bg1 {
        0% { transform: scale(1, 1); }
        50% { transform: scale(0.9, 0.9); }
        100% { transform: scale(1, 1); }
    }
    
    img#bg-pricing2 {
        max-height: 170px;
        position: absolute;
        right: 18px;
        top: 88px;
        z-index: -1;
        animation: changeposition-bg2 5s infinite;
    }
    @keyframes changeposition-bg2 {
        0% { right: 18px; }
        50% { right: 50px; }
        100% { right: 18px; }
    }

    img#bg-pricing3 {
        position: absolute;
        left: 68px;
        bottom: 144px;
        max-height: 170px;
        z-index: -1;
        animation: changeposition-bg3 5s infinite;
    }
    @keyframes changeposition-bg3 {
        0% { left: 68px; }
        50% { left: 98px; }
        100% { left: 68px; }
    }

    img#bg-pricing4 {
        position: absolute;
        right: 24px;
        bottom: 112px;
        z-index: -1;
        animation: changeposition-bg4 5s infinite;
    }
    @keyframes changeposition-bg4 {
        0% { bottom: 112px; }
        50% { bottom: 148px; }
        100% { bottom: 112px; }
    }

    .pricebox-btn:hover {
        opacity: 0.7;
    }

    .pricing-btn {
        width: fit-content;
        background: white;
        color: #f25630;
        padding: 15px 40px;
        border-radius: 25px;
        font-weight: 600;
        font-size: 14px;
        transition: 0.8s;
    }
    .pricing-btn:hover {
        background: #f25630;
        color: white;
    } 
}

.slideitem-video {
    background-image: url("../../assets/salon.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.6;
    height: 630px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;

    &-container {
        text-align: center;
        letter-spacing: 2px;
        &-text {
            font-size: 48px;
            font-weight: 600;
            line-height: initial;
            color: white;
        }

        &-icon {
            width: 100px;
            height: 100px;
            margin: 2rem auto;
            background: white;
            border-radius: 50%;
            position: relative;
            transition: 0.4s;
        }
        &-icon:hover {
            background: #db8d83;
        }
        
        .loader-animation-one {
            width: 100px;
            height: 100px;
            position: absolute;
            top: 50%;
            left: 50%;
            border-radius: 50%;
            transform: translate(-50%, -50%);
            animation: circleloader1 2.5s infinite;
            animation-delay: 0s;
            animation-timing-function: ease-in-out;
            background: white;
            z-index: -1;
        }
        .loader-animation-two {
            width: 100px;
            height: 100px;
            position: absolute;
            top: 50%;
            left: 50%;
            border-radius: 50%;
            transform: translate(-50%, -50%);
            animation: circleloader2 2.5s infinite;
            animation-delay: 0.6s;
            animation-timing-function: ease-in-out;
            background: white;
            z-index: -1;
        }
        .loader-animation-three {
            width: 100px;
            height: 100px;
            position: absolute;
            top: 50%;
            left: 50%;
            border-radius: 50%;
            transform: translate(-50%, -50%);
            animation: circleloader3 2.5s infinite;
            animation-delay: 1s;
            animation-timing-function: ease-in-out;
            background: white;
            z-index: -1;
        }
        @keyframes circleloader1 {
            0% { width: 100px; height: 100px; opacity: 1; }
            100% { width: 200px; height: 200px; opacity: 0; }
        }
        @keyframes circleloader2 {
            0% { width: 100px; height: 100px; opacity: 1; }
            100% { width: 200px; height: 200px; opacity: 0; }
        }
        @keyframes circleloader3 {
            0% { width: 100px; height: 100px; opacity: 1; }
            100% { width: 200px; height: 200px; opacity: 0; }
        }
    }
}
.slideitem-video::before {
    content: "";
    width: 100%;
    height: 630px;
    background: black;
    opacity: 0.6;
    position: absolute;
    z-index: -1;
}

.slideitem-salon {
    padding: 6rem 0 0.5rem 0;

    &-text {
        text-align: center;
    }

    &-container {
        width: 499px;
        height: 500px;
        position: relative;
        margin: 20.5rem auto;
        border-radius: 5px;
        background: #BFC1F3;
        z-index: 0;

        .image1 {
            width: 220px;
            height: 220px;
            position: absolute;
            top: -50%;
            right: 56%;
            border-radius: 5px;
            background: #C7E1C9;
            display: flex;
            justify-content: center;
            align-items: center;
            // transition: all 0.4s ease-in-out;
        }

        .image2 {
            width: 250px;
            height: 250px;
            position: absolute;
            top: -56%;
            right: 0;
            border-radius: 5px;
            background: #C7E1C9;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .image3 {
            width: 250px;
            height: 300px;
            position: absolute;
            left: -56%;
            border-radius: 5px;
            background: #C7E1C9;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .image4 {
            width: 170px;
            height: 172px;
            position: absolute;
            bottom: 0;
            left: -40%;
            border-radius: 5px;
            background: #C7E1C9;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .image5 {
            width: 170px;
            height: 170px;
            position: absolute;
            right: -40%;
            border-radius: 5px;
            background: #C7E1C9;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .image6 {
            width: 250px;
            height: 300px;
            position: absolute;
            right: -56%;
            bottom: 0;
            border-radius: 5px;
            background: #C7E1C9;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .image7 {
            width: 250px;
            height: 220px;
            position: absolute;
            right: 36%;
            bottom: -50%;
            border-radius: 5px;
            background: #C7E1C9;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .image8 {
            width: 150px;
            height: 150px;
            position: absolute;
            right: 0;
            bottom: -36%;
            border-radius: 5px;
            background: #C7E1C9;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .salon-rectangle {
            width: 0%;
            height: 0%;
            background: #db8d83;
            opacity: 0.5;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 0.8s ease-in-out;
        }
        .subrectangle {
            width: 0%;
            height: 0%;
            max-width: 20%;
            max-height: 20%;
            background: black;
            border-radius: 5px;
            transition: all 0.8s ease-in-out;
            transition-delay: 3s;
        }

        .image1:hover > .salon-rectangle, .subrectangle{
            width: 80%;
            height: 80%;
        }
        .image2:hover > .salon-rectangle{
            width: 80%;
            height: 80%;
        }
        .image3:hover > .salon-rectangle{
            width: 80%;
            height: 80%;
        }
        .image4:hover > .salon-rectangle{
            width: 80%;
            height: 80%;
        }
        .image5:hover > .salon-rectangle{
            width: 80%;
            height: 80%;
        }
        .image6:hover > .salon-rectangle{
            width: 80%;
            height: 80%;
        }
        .image7:hover > .salon-rectangle{
            width: 80%;
            height: 80%;
        }
        .image8:hover > .salon-rectangle{
            width: 80%;
            height: 80%;
        }
    }
}

.slideitem-team {
    padding: 2rem 0;

    &-text {
        text-align: center;
        padding: 1rem 0;
        h1 {
            padding: 1rem 0;
        }
    }

    &-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 2rem;
        padding: 2.5rem 1.5rem;

        .team-image img {
            // position: absolute;
            width: 100%;
            height: 418px;
            object-fit: cover;
        }

        // #hover-info {
        //     width: 100%;
        //     height: 0;
        //     background: pink;
        //     margin-top: -100px;
        //     margin-left: 50px;
        //     transition: all 0.4s ease-in-out;
        //     transition: all .8s ease;
        // }

        // .team-image:hover > #hover-info {
        //     height: 200px;
        // }
    }
}

.slideitem-product {
    &-text {
        text-align: center;
        margin: 1rem 0 3.2rem;

        h1 {
            padding: 1rem;
        }
    }

    &-container {
        position: relative;
        z-index: 0;

    }
    .products {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 2rem;
        padding: 0 6.5rem;

        img {
            height: 363px;
            object-fit: cover;
            width: 100%;
        }
        .product1 {
            background: #FAF3F2;
        }
        .product2 {
            background: #FAF3F2;
        }
        .product3 {
            background: #FAF3F2;
        }
        .product4 {
            background: #FAF3F2;
        }

        .footer {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            padding: 1rem 2rem;

            .rating {
                width: 63px;
                height: 12px;
            }
            button.shopping-cart-btn {
                background: #f25630;
                padding: 10px 18px;
                border-radius: 25px;

                img {
                    width: 15px;
                    height: 15px;
                }
            }
            button.shopping-cart-btn:hover {
                background: transparent;
                border: 2px solid #f25630;
            }
        }

        .product-frame {
            overflow: hidden;
            cursor: pointer;
        }

        img#img-product {
            transition: transform 300ms ease-out;
        }
        img#img-product:hover {
            transform: scale(1.05);
        }
    }

    .products-text {
        text-align: center;
        padding: 1.6rem 0;

        .title {
            font-size: 24px;
            font-weight: 500;
            margin-bottom: 10px;
        }
        .price {
            font-weight: 300;
            span:first-child {
                text-decoration-line: line-through;
            }
            span:last-child {
                text-decoration-line: underline;
            }
        }


    }

    hr {
        width: 100%;
        border-top: 1px solid #f25630;
        margin: 0;
    }

    button.prev-btn {
        width: 50px;
        height: 50px;
        background: transparent;
        border-radius: 50%;
        border: 2px solid #db8d83;
        color: #db8d83;
        position: absolute;
        top: 40%;
        left: 1.75%;
        padding: 0;
    }
    button.prev-btn:hover {
        background: #db8d83;
        color: white;
    }

    button.next-btn {
        background: transparent;
        width: 50px;
        border-radius: 50%;
        height: 50px;
        border: 2px solid #db8d83;
        color: #db8d83;
        position: absolute;
        top: 40%;
        right: 1.75%;
        padding: 0;
    }
    button.next-btn:hover {
        background: #db8d83;
        color: white;
    }
}

.slideitem-testimonials {
    padding: 6.8rem 4.5rem 2rem 4.5rem;

    &-text {
        text-align: center;

        h1 {
            padding: 1.5rem 0;
            letter-spacing: 1px;
        }
    }

    &-container {
        display: flex;
        padding: 4rem 1rem;

        .img-testimonials {
            width: 500px;
            height: 500px;
            animation: zoominzoomout-tes-img 2s infinite ease-in-out;
        }
        @keyframes zoominzoomout-tes-img {
            0% { transform: scale(1); }
            50% { transform: scale(1.07); }
            100% { transform: scale(1); }
        }

        .testimonials-content {
            padding: 3rem 4rem 3rem 9rem;

            p {
                padding: 1.5rem 0;
            }

            .testimonials-info {
                padding: 1.5rem 0;

                .testimonials-name {
                    font-size: 24px;
                    font-weight: 600;
                }
            }

        }
        .quote {
            width: 72px;
            height: 72px;
        }
        .rate {
            width: 110px;
            height: 28px;
        }
    }
}

.slideitem-community {
    padding: 7rem 0;
    background: #FAF4F3;
    background-image: url("http://wp1.efforttech.com/newwp/hairly/wp-content/themes/hairly/assets/images/background/bg-lines.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;

    &-text {
        text-align: center;
        margin-bottom: 4rem;

        h1 {
            padding: 1rem 0;
        }
    }

    &-form {
        display: flex;
        justify-content: center;
        position: relative;

        input {
            width: 50%;
            padding: 1.25rem 13rem 1.25rem 2.5rem;
            border: 1px solid #0000001a;
            border-radius: 36px;
            color: #1b212f;
        }
        input::placeholder {
            color: black;
            font-size: 16px;
        }

        .community-btn {
            font-size: 14px;
            color: white;
            background: #f25630;
            font-weight: 600;
            border-radius: 30px;
            position: absolute;
            padding: 1.2rem 2.5rem;
            border: 0;
            top: 6.5%;
            right: 25.35%;
        }
        .community-btn:hover {
            background: #1b212f;
        }
    }
}

.slideitem-footer {
    background: white;
    text-align: center;
    padding: 6rem 0 3rem;

    &-title {
        font-size: 40px;
        font-weight: 500;
        letter-spacing: 1px;

        a {
            display: inline-flex;
            img {
                width: 50px;
                height: 50px;
            }
        }
    }

    &-menulists {
        padding: 1.5rem 0 2.5rem;

        .menu-item {
            display: inline;
            color: #505050;
            padding: 0 1.5rem;
            transition: 0.3s;
        }
        .menu-item:hover { color: #db8d83; }
    }

    &-logolists {
        .logo-list-facebook {
            display: inline-block;
            width: 44px;
            height: 44px;
            margin: 0 0.3rem;
            border-radius: 50%;
            background: #6f42c1;
            transition: 0.3s;
            img {
                width: 100%;
                height: 100%;
                padding: 0.85rem;
            }
        }
        .logo-list-instagram {
            display: inline-block;
            width: 44px;
            height: 44px;
            margin: 0 0.3rem;
            border-radius: 50%;
            background: #dc3545;
            transition: 0.3s;
            img {
                width: 100%;
                height: 100%;
                padding: 0.85rem;
            }
        }
        .logo-list-linkin {
            display: inline-block;
            width: 44px;
            height: 44px;
            margin: 0 0.3rem;
            border-radius: 50%;
            background: #0077b5;
            transition: 0.3s;
            img {
                width: 100%;
                height: 100%;
                padding: 0.85rem;
            }
        }
        .logo-list-twitter {
            display: inline-block;
            width: 44px;
            height: 44px;
            margin: 0 0.3rem;
            border-radius: 50%;
            background: #009cff;
            transition: 0.3s;
            img {
                width: 100%;
                height: 100%;
                padding: 0.85rem;
            }
        }
        .logo-list-youtube {
            display: inline-block;
            width: 44px;
            height: 44px;
            margin: 0 0.3rem;
            border-radius: 50%;
            background: #ff0000;
            transition: 0.3s;
            img {
                width: 100%;
                height: 100%;
                padding: 0.85rem;
            }
        }

        li#footer-link-contact:hover {
            opacity: 0.7;
        }
    }

    p {
        padding-top: 2rem;
        color: #505050;
    }
}