.nav-hidden {
  width: 323px;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
  color: #1b212f;
  font-size: 16px;
  border-left: 3px solid #f25630;
  overflow-y: scroll;
  z-index: 10;

  .head-main-logobox { padding: 24px 20px; }

  li.item {
    display: block;
    border-top: 1px solid #e5e5e5;
    position: relative;
    transition: all 200ms;

    a.main {
      display: inline-block;
      padding: 10px 20px;
    }
  }

  .change-style-item {
    display: block;
    position: relative;
    border-top: 1px solid #d44c2a;
    transition: all 1s;

    a.main {
      display: inline-block;
      padding: 10px 20px;
    }
  } 
    
  .active {
    background-color: #f25630;
    border-top: 1px solid #d44c2a;
    color: white;
    
    button.expander {
      color: white;
      border: 1px solid white;
    }
  }
}

li.list:hover, li.item:hover {
  background-color: #f25630;
  color: white;
  border-top: 1px solid #d44c2a;

  button.expander {
    color: white;
    border: 1px solid white;
  }
}
li.list:hover a.submain {
  color: white;
}

ul.sublists { display: none; }

li.list {
  display: block;
  padding: 10px 40px;
  background-color: white;
  border-top: 1px solid #e5e5e5;
  color: black;
  transition: all 200ms;

  a.submain {
    color: #1b212f;
  }
}

.show-sublists { display: block; }

.dropdown {
  background-color: #f25630;
  color: white;
}

.hidden-close-icon {
  position: absolute;
  top: 2px;
  right: 2px;
  display: flex;
  border: 0;
  padding: 0;
  border-radius: 0;
  color: #1b212f;
  background-color: transparent;
  font-size: 32px;
  transition: color 200ms;
}
.hidden-close-icon:hover {
  color: #f25630;
}

.expander {
  position: absolute;
  top: 10px;
  right: 22px;
  background-color: transparent;
  color: #7f7f7f;
  font-size: 16px;
  border: 1px solid #7f7f7f;
  padding: 0 6px;
  border-radius: 0;
}
.btnToggle {
  position: absolute;
  top: 10px;
  right: 22px;
  background-color: transparent;
  font-size: 16px;
  padding: 0 6px;
  border-radius: 0;
  border: 1px solid white;
  color: white;
}

.informations {
  margin: 40px 20px;

  .info:nth-child(1) { margin-bottom: 14px; }

  .info { transition: all 200ms; }
  .info:hover {
    color: #f25630;
    text-decoration-line: underline;
  }

  .pad-color {
    padding-right: 6px;
    color: #f25630;
  }
  
  .oblique { transform: rotate(-45deg) translateY(-4px); }
}

.socials {
  display: flex;
  gap: 10px;
  padding: 0 20px;
}
.social {
  display: inline-block;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #f25630;
  background-repeat: no-repeat;
  background-size: 44%;
  background-position-x: center;
  background-position-y: center;
}
.social:nth-child(1) { background-image: url("../../assets/facebook.png"); }
.social:nth-child(2) { background-image: url("../../assets/instagram.png"); }
.social:nth-child(3) { background-image: url("../../assets/linkedin.png"); }
.social:nth-child(4) { background-image: url("../../assets/twitter.png"); }

