.slideitem-salon {
  &-text {
    text-align: center;
    margin-bottom: 2rem;

    h1 {
      max-width: 300px;
      margin: 0 auto;
    }
  }

  &-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    align-items: stretch;
  }

  .img-item {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .bor-rad {
    border-radius: 5px;
  }

  @media only screen and (min-width: 490px) {
    &-text {
      h1 {
        max-width: 495px;
        margin: 0 auto;
      }
    }

    &-container {
      grid-template-columns: repeat(12, 1fr);
      max-width: 900px;
      margin: 0 auto;
    }

    #img1 {
      grid-row: 2 / 4;
      grid-column: 4 / 7;
    }
    #img2 {
      grid-row: 1 / 4;
      grid-column: 7 / 10;
    }
    #img3 {
      grid-row: 4 / 8;
      grid-column: 1 / 4;
    }
    #img4 {
      grid-row: 8 / 11;
      grid-column: 2 / 4;
    }
    #img5 {
      grid-row: 4 / 11;
      grid-column: 4 / 10;
    }
    #img6 {
      grid-row: 4 / 6;
      grid-column: 10 / 12;
    }
    #img7 {
      grid-row: 6 / 11;
      grid-column: 10 / 13;
    }
    #img8 {
      grid-row: 11 / 16;
      grid-column: 5 /8;
    }
    #img9 {
      grid-row: 11 / 14;
      grid-column: 8 / 10;
    }
  }

  @media only screen and (min-width: 667px) {
    &-text {
      margin-bottom: 3rem;
    }
  }

  @media only screen and (min-width: 1200px) {
    &-text {
      margin-bottom: 4rem;

      h1 {
        max-width: 100%;
      }
    }

    &-container {
      grid-gap: 20px;
    }
  }
}
