.slideitem-home {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  background: black;
  padding: 10rem 3rem;

  &-text {
    width: 80%;
    text-align: center;
    color: white;

    h1 {
      width: 85%;
      margin: 0 auto;
      color: white;
    }

    p {
      margin-top: 2rem;
      font-weight: 300;
      color: white;
    }
  }

  .home-btn:hover {
    color: #f25630;
    border: 2px solid #f25630;
    background: transparent;
  }

  @media only screen and (min-width: 896px) {
    gap: 4rem;

    &-text {
      h1 {
        font-size: 36px;
        width: 100%;
      }
    }
  }

  @media only screen and (min-width: 1024px) {
    justify-content: flex-start;
    padding: 18rem 4rem;

    &-text {
      text-align: start;
      width: 100%;

      h1 {
        font-size: 72px;
        letter-spacing: 4px;
        width: 60%;
        margin: 0;
      }

      p {
        width: 70%;
      }
    }
  }
}
