.slideitem-salon {
  &-text {
    text-align: center;
    margin-bottom: 3rem;
  }

  &-container {
    max-width: 970px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
    gap: 2rem;
  }

  .blocks1 {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    align-items: flex-end;

    #img1 {
      width: 198px;
      height: 180px;
      background: burlywood;
    }

    #img2 {
      width: 225px;
      height: 225px;
      background: brown;
    }
  }

  .blocks2 {
    display: flex;
    justify-content: space-between;
    gap: 2rem;

    .inner-block {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      #img3 {
        height: 270px;
        width: 225px;
        background: burlywood;
      }

      #img4 {
        width: 154px;
        height: 154px;
        background: brown;
      }
    }

    #img5 {
      width: 455px;
      height: 450px;
      background: aquamarine;
    }

    .inner-block {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      #img6 {
        width: 154px;
        height: 154px;
        background: burlywood;
      }

      #img7 {
        width: 225px;
        height: 270px;
        background: brown;
      }
    }

    .one {
      align-items: flex-end;
    }
  }

  .blocks3 {
    width: 455px;
    display: flex;
    gap: 2rem;
    justify-content: flex-end;

    #img8 {
      width: 225px;
      height: 198px;
      background: burlywood;
    }

    #img9 {
      width: 135px;
      height: 135px;
      background: brown;
    }
  }

  .bor-rad {
    border-radius: 5px;
  }

  @media only screen and (min-width: 667px) {
    &-text {
      h1 {
        width: 400px;
        margin: 0 auto;
      }
    }
  }

  @media only screen and (min-width: 768px) {
    &-text {
      h1 {
        width: 500px;
      }
    }
  }

  @media only screen and (min-width: 1200px) {
    &-text {
      h1 {
        width: 100%;
      }
    }

    &-container {
      margin: 6rem auto 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}
