.slideitem-team {
  &-text {
    text-align: center;
    margin-bottom: 3rem;

    h1 {
      width: 325px;
      margin: 0 auto;
    }
  }

  &-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(273px, 1fr));
    gap: 1rem;

    .team-image {
      position: relative;
      display: flex;
      align-items: end;
      overflow: hidden;
      height: 400px;
      background-position-y: center;

      li.teamlist {
        display: inline-block;
        width: 12px;
        height: 12px;
        background: transparent;
        border-radius: 50%;
        margin: 0 4px;
      }

      a#name {
        font-size: 18px;
        font-weight: 500;
        color: white;
      }

      .designation {
        font-size: 12px;
        margin: 0;
        color: white;
      }
    }

    #member1 {
      background-image: url("../../assets/girl1.jpeg");
      background-repeat: no-repeat;
      background-size: cover;
    }
    #member2 {
      background-image: url("../../assets/girl2.jpeg");
      background-repeat: no-repeat;
      background-size: cover;
    }
    #member3 {
      background-image: url("../../assets/girl3.jpeg");
      background-repeat: no-repeat;
      background-size: cover;
    }
    #member4 {
      background-image: url("../../assets/girl4.jpeg");
      background-repeat: no-repeat;
      background-size: cover;
    }

    .team-image:before {
      content: "";
      width: 10%;
      height: 100%;
      z-index: 1;
      position: absolute;
      top: 0;
      left: -38%;
      background: white;
      opacity: 0.3;
      filter: blur(5px);
      transform: skewX(-25deg);
      transition: all 0.2s ease;
    }
    .team-image:hover::before {
      animation: shine 1s;
    }
    @keyframes shine {
      0% {
        left: -30%;
      }
      100% {
        left: 125%;
      }
    }

    .hover-info {
      width: 100%;
      text-align: center;
      padding: 8px 0;
      background: #db8d83;
      transform: translateY(100%);
      transition: transform 0.4s ease-in-out;
    }
    .team-image:hover > .hover-info {
      transform: translateY(0);
    }
  }

  @media only screen and (min-width: 667px) {
    &-text {
      h1 {
        width: 100%;
      }
    }
  }

  @media only screen and (min-width: 768px) {
    &-text {
      h1 {
        width: 500px;
      }
    }

    &-container {
      margin-top: 3rem;

      .team-image {
        height: 380px;

        .hover-info {
          a#name {
            font-size: 22px;
          }

          li.teamlist {
            width: 16px;
            height: 16px;
          }

          .designation {
            font-size: 16px;
            margin-bottom: 4px;
          }
        }
      }
    }
  }

  @media only screen and (min-width: 1200px) {
    &-text {
      h1 {
        width: 100%;
      }
    }

    &-container {
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
      margin: 0;

      .team-image {
        height: 500px;
        background-position-x: center;

        .hover-info {
          padding: 20px 0;

          a#name {
            font-size: 24px;
          }

          li.teamlist {
            width: 18px;
            height: 18px;
          }

          .destination {
            font-size: 16px;
            margin: 4px 0 10px;
          }
        }
      }
    }
  }
}
