.slideitem-pricing {
    display: flex;
    flex-wrap: wrap;
    padding: 4rem 1rem;
    justify-content: center;
    background: #fbf3f2;
    position: relative;
    z-index: 0;
  
    &-text {
      text-align: center;
  
      h1 {
        padding: 1rem 0;
      }
    }
  
    &-block {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
      justify-content: space-between;
      gap: 2rem;
      margin: 2rem 0 3rem 0;
  
      .block {
        position: relative;
        flex-basis: 31%;
        border-radius: 12px;
        overflow: hidden;
        background: white;
  
        .block-img-haircut {
          height: 265px;
          border-radius: 12px 12px 0 0;
          overflow: hidden;
          position: relative;
  
          img#haircut {
            transform: scale(1.15);
            transition: all 0.3s ease-in-out;
          }
          img#haircut:hover {
            transform: scale(1);
          }
        }
        .block-img-haircut:before {
          content: "";
          width: 10%;
          height: 100%;
          z-index: 2;
          position: absolute;
          top: 0;
          left: -30%;
          background: white;
          opacity: 0.3;
          filter: blur(5px);
          transform: skewX(-25deg);
          transition: all 0.5s ease;
        }
        .block-img-haircut:hover::before {
          animation: shine 1s;
        }
        @keyframes shine {
          0% {
            left: -30%;
          }
          100% {
            left: 125%;
          }
        }
  
        .block-img-coloring {
          height: 265px;
          border-radius: 12px 12px 0 0;
          overflow: hidden;
          position: relative;
  
          img#coloring {
            transform: scale(1.15);
            transition: all 0.3s ease-in-out;
          }
          img#coloring:hover {
            transform: scale(1);
          }
        }
        .block-img-coloring:before {
          content: "";
          width: 10%;
          height: 100%;
          z-index: 2;
          position: absolute;
          top: 0;
          left: -30%;
          background: white;
          opacity: 0.3;
          filter: blur(5px);
          transform: skewX(-25deg);
          transition: all 0.5s ease;
        }
        .block-img-coloring:hover::before {
          animation: shine 1s;
        }
        @keyframes shine {
          0% {
            left: -30%;
          }
          100% {
            left: 125%;
          }
        }
  
        .block-img-hairstyle {
          height: 265px;
          border-radius: 12px 12px 0 0;
          overflow: hidden;
          position: relative;
  
          img#hairstyle {
            transform: scale(1.15);
            transition: all 0.3s ease-in-out;
          }
          img#hairstyle:hover {
            transform: scale(1);
          }
        }
        .block-img-hairstyle:before {
          content: "";
          width: 10%;
          height: 100%;
          z-index: 2;
          position: absolute;
          top: 0;
          left: -30%;
          background: white;
          opacity: 0.3;
          filter: blur(5px);
          transform: skewX(-25deg);
          transition: all 0.5s ease;
        }
        .block-img-hairstyle:hover::before {
          animation: shine 1s;
        }
        @keyframes shine {
          0% {
            left: -30%;
          }
          100% {
            left: 125%;
          }
        }
  
        .block-content {
          padding: 2.5rem 2rem;
  
          .block-text-title {
            font-size: 24px;
            font-weight: 500;
            letter-spacing: 2px;
          }
          .block-text-body {
            padding: 0.8rem 0 2rem 0;
            color: #212529;
            opacity: 0.8;
          }
        }
  
        .circle-price {
          width: 100px;
          height: 100px;
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          top: 39%;
          right: 8%;
          border-radius: 50%;
          background: #e16137;
          font-size: 20px;
          font-weight: 700;
          color: white;
        }
        .circle-border {
          width: 90px;
          height: 90px;
          position: absolute;
          top: 40%;
          right: 9.2%;
          border-radius: 50%;
          border: 1px dashed white;
          animation: rotation 10s infinite linear;
        }
        @keyframes rotation {
          from {
            transform: rotate(0deg);
          }
          to {
            transform: rotate(359deg);
          }
        }
      }
    }
  
    img#bg-pricing1 {
      position: absolute;
      top: 44px;
      left: 32px;
      z-index: -1;
      animation: zoominzoomout-bg1 5s infinite;
    }
    @keyframes zoominzoomout-bg1 {
      0% {
        transform: scale(1, 1);
      }
      50% {
        transform: scale(0.9, 0.9);
      }
      100% {
        transform: scale(1, 1);
      }
    }
  
    img#bg-pricing2 {
      max-height: 170px;
      position: absolute;
      right: 18px;
      top: 88px;
      z-index: -1;
      animation: changeposition-bg2 5s infinite;
    }
    @keyframes changeposition-bg2 {
      0% {
        right: 18px;
      }
      50% {
        right: 50px;
      }
      100% {
        right: 18px;
      }
    }
  
    img#bg-pricing3 {
      position: absolute;
      left: 68px;
      bottom: 144px;
      max-height: 170px;
      z-index: -1;
      animation: changeposition-bg3 5s infinite;
    }
    @keyframes changeposition-bg3 {
      0% {
        left: 68px;
      }
      50% {
        left: 98px;
      }
      100% {
        left: 68px;
      }
    }
  
    img#bg-pricing4 {
      position: absolute;
      right: 24px;
      bottom: 112px;
      z-index: -1;
      animation: changeposition-bg4 5s infinite;
    }
    @keyframes changeposition-bg4 {
      0% {
        bottom: 112px;
      }
      50% {
        bottom: 148px;
      }
      100% {
        bottom: 112px;
      }
    }
  
    .pricebox-btn:hover {
      opacity: 0.7;
    }
  
    .pricing-btn {
      width: fit-content;
      background: white;
      color: #f25630;
      padding: 15px 40px;
      border-radius: 25px;
      font-weight: 600;
      font-size: 14px;
      transition: 0.8s;
    }
    .pricing-btn:hover {
      background: #f25630;
      color: white;
    }


    @media only screen and (min-width: 1080px) {
        padding: 6rem 7.8rem;

        &-block {
            display: flex;
            flex-wrap: wrap;
        }
    }
  }